PORT="your_server_port"
NODE_ENV="your_node_environment"
DATABASE_PASSWORD="your_database_password"
DATABASE_NAME="your_database_name" # Not needed in .env.test
DATABASE_URL="your_database_connection_url"
JWT_SECRET="your_jwt_secret"
CLOUD_NAME="your_cloudinary_cloud_name"
CLOUD_API_SECRET="your_cloudinary_api_secret"
CLOUD_API_KEY="your_cloudinary_api_key"
REDIS_PORT="your_redis_port"
REDIS_HOST="your_redis_host"
REDIS_PASSWORD="your_redis_password" # Not needed in .env.test
REDIS_URL="your_redis_connection_url"
BREVO_API_KEY="your_transactional_email_api_key"
APP_NAME="your_app_name"
APP_EMAIL="your_app_email"
ADMIN_EMAIL="your_email_for_administrative_purposes"
RATE_LIMITING_PER_SECOND="your_rate_limiting_value_per_second"
RATE_LIMITING_PER_MINUTE="your_rate_limiting_value_per_minute"
PASSWORD_RESET_STORE_INDEX="your_password_reset_store_index_in_redis"
QUEUE_STORE_INDEX="your_queue_store_index_in_redis"
GEOLOCATION_STORE_INDEX="your_geolocation_store_index_in_redis"
IDEMPOTENCY_KEYS_STORE_INDEX="your_idempotency_keys_store_index_in_redis"
TRENDING_EVENTS_STORE_INDEX="your_trending_events_store_index_in_redis"
TICKET_REFUND_STORE_INDEX="your_ticket_refund_store_index_in_redis"
BLACKLISTED_TOKENS_STORE_INDEX="your_blacklisted_tokens_store_index_in_redis"
TICKET_LOCK_STORE_INDEX="your_ticket_lock_store_index_in_redis"
PAYSTACK_SECRET_KEY="your_paystack_secret_key"

# Add the following in .env.test file for e2e or integration tests
NODE_ENV="test"
ACCOUNT_NUMBER="your_NGN_bank_account_number"
ACCOUNT_NAME="your_bank_account_name_in_order"
BANK_NAME="your_bank_name"